[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
black = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
